<!-- metadata -->
<div class="meta container">
  <!-- date -->
  <div class="grey-text date">
    <span
      *ngIf="post?.created"
      [@fade-in]="fadeIn">{{post?.created | date: 'dd MMMM, yyyy'}}</span>
  </div>

  <!-- title -->
  <h1 class="title">
    <span
      *ngIf="post?.title"
      [@fade-in]="fadeIn">{{post?.title}}</span>
  </h1>

  <!-- description -->
  <div class="grey-text description">
    <span
      *ngIf="post?.description"
      [@fade-in]="fadeIn">{{post?.description}}</span>
  </div>
</div>

<!-- banner -->
<div class="banner image-placeholder">
  <img
    *ngIf="post?.banner"
    [src]="post?.banner"
    [alt]="post?.title"
    loading="lazy"
    appLazyImage/>
</div>

<!-- banner credit for unsplash -->
<div class="credit">
  <div
    *ngIf="post?.bannerCredit"
    [@fade-in]="fadeIn"
    class="grey-text">
    Photo by
    <a
      [href]="creditLink"
      appOuterLink>{{creditName}}</a>
    on
    <a
      href="https://unsplash.com"
      appOuterLink>Unsplash</a>.
  </div>
</div>

<!-- contents -->
<div class="contents">
  <!-- actions -->
  <div class="actions">
    <!-- twitter -->
    <a
      [href]="tweetUrl"
      class="action"
      appOuterLink>
      <app-icon
        class="grey-icon"
        name="twitter:black-30"></app-icon>

      <span class="grey-text">twitter</span>
    </a>

    <!-- share -->
    <div
      (click)="copyPostLink()"
      class="action">
      <app-icon
        class="grey-icon"
        name="share:black-30"></app-icon>

      <span class="grey-text">share</span>
    </div>

    <!-- buy me a coffee -->
    <a
      href="https://www.buymeacoffee.com/tk2rush90"
      class="action"
      appOuterLink>
      <app-icon
        class="grey-icon"
        name="buy-me-a-coffee:black-30"></app-icon>

      <span class="grey-text">buy me a coffee</span>
    </a>
  </div>

  <!-- article -->
  <article class="container">
    <div
      *ngIf="post"
      [@fade-in]="fadeIn">
      <!-- table of contents -->
      <app-table-of-contents
        (linkClick)="scrollToFragment($event)"
        *ngIf="post?.contents"
        [target]="target.element.nativeElement"></app-table-of-contents>

      <!-- show markdown -->
      <markdown
        #target
        [data]="post?.contents"></markdown>

      <!-- tag list -->
      <app-tag-list
        [tags]="post?.tags || []"></app-tag-list>
    </div>
  </article>

  <!-- actions right -->
  <div class="actions">
    <!-- github -->
    <a
      href="https://github.com/tk2rush90"
      class="action"
      appOuterLink>
      <app-icon
        class="grey-icon"
        name="github:black-30"></app-icon>

      <span class="grey-text">github</span>
    </a>

    <!-- topcoder -->
    <a
      href="https://www.topcoder.com/members/tk2rush90"
      class="action"
      appOuterLink>
      <app-icon
        class="grey-icon"
        name="topcoder:black-30"></app-icon>

      <span class="grey-text">topcoder</span>
    </a>

    <!-- discord -->
    <a
      href="https://discord.gg/NeRgr2j9zA"
      class="action"
      appOuterLink>
      <app-icon
        class="grey-icon"
        name="discord:black-30"></app-icon>

      <span class="grey-text">discord</span>
    </a>
  </div>
</div>

<!-- copyrights -->
<app-copyrights></app-copyrights>
