@import "mixins";
@import "props";

@mixin flat-button($color, $font-color, $background, $hover-background, $active-background) {
  @include attribute-styles('tk-color', $color) {
    color: $font-color;
    background-color: $background;

    &:not(:disabled) {
      @include clickable();

      &:hover {
        background-color: $hover-background;
      }

      &:active {
        background-color: $active-background;
      }
    }

    &:disabled {
      opacity: .3;
    }

    // additional content
    @content;
  }
}

// flat button
.tk-flat-button {
  @include flex(center, center);
  position: relative;
  font-weight: 900;
  text-transform: uppercase;
  transition: background-color .1s;
}

// light theme
.theme-light {
  .tk-flat-button {
    @include flat-button('default', $night-rider, $night-rider-05, $night-rider-10, $night-rider-10);
  }
}

// dark theme
.theme-dark {
  .tk-flat-button {
    @include flat-button('default', $white, $white-30, $white-50, $white-50);
  }
}
