@import "mixins";
@import "props";

// input field
.tk-input-field {
  @include padding(0 15px);
  height: 40px;
  font-size: 14px;

  &:not(:disabled) {
    &:focus {
      // for focused state
    }
  }

  &.ng-touched, &.ng-dirty {
    &.ng-invalid {
      // for invalid state
    }
  }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.theme-light {
  .tk-input-field {
    @include border(1px solid $black-10);
    background-color: $white;
    color: $night-rider;

    &::placeholder {
      color: $black-30;
    }
  }
}

.theme-dark {
  .tk-input-field {
    @include border(1px solid $white-10);
    background-color: $white-30;
    color: $white;

    &::placeholder {
      color: $white-30;
    }
  }
}
