$black: #000;
$black-10: rgba($black, .10);
$black-20: rgba($black, .20);
$black-30: rgba($black, .30);
$white: #fff;
$white-05: rgba($white, .05);
$white-10: rgba($white, .10);
$white-30: rgba($white, .30);
$white-50: rgba($white, .50);

$night-rider: #333;
$night-rider-05: rgba($night-rider, .05);
$night-rider-10: rgba($night-rider, .10);
$night-rider-30: rgba($night-rider, .30);
$summer-sky: #41C2DE;
$snow: #F9F9F9;
$cinnabar: #DE4141;
