<!-- container -->
<div
  #button
  (click)="opened ? close() : open()"
  class="tk-container">
  <!-- input element -->
  <input
    #input
    (keydown.arrowDown)="openWithInput(input)"
    (keydown.arrowUp)="openWithInput(input)"
    [class.ng-dirty]="dirty"
    [class.ng-invalid]="invalid"
    [class.ng-touched]="touched"
    [value]="label"
    [placeholder]="placeholder"
    appInput
    readonly/>

  <!-- arrow down -->
  <div class="tk-icon-container">
    <app-icon
      [class.tk-reverse]="opened"
      name="keyboard-arrow-down"></app-icon>
  </div>
</div>

<!-- options -->
<app-select-options
  (optionSelected)="onOptionClicked($event)"
  *ngIf="opened"
  [options]="options"
  [selectContainer]="button"
  [value]="value"></app-select-options>
