<!-- thumbnail -->
<div class="thumbnail">
  <img
    src="/assets/images/app/owner-thumbnail.png"
    alt="tk2rush90"/>
</div>

<!-- name -->
<div class="name">
  tk2rush90
</div>

<!-- description -->
<div class="description">
  A full-stack developer since 2017
</div>

<!-- links -->
<div class="links">
  <!-- github -->
  <a
    [bound]="false"
    [centered]="true"
    href="https://github.com/tk2rush90"
    appOuterLink
    appRipple>
    <app-icon
      class="grey-icon"
      name="github:black-30"></app-icon>
  </a>

  <!-- topcoder -->
  <a
    [bound]="false"
    [centered]="true"
    href="https://www.topcoder.com/members/tk2rush90"
    appOuterLink
    appRipple>
    <app-icon
      class="grey-icon"
      name="topcoder:black-30"></app-icon>
  </a>

  <!-- discord -->
  <a
    [bound]="false"
    [centered]="true"
    href="https://discord.gg/NeRgr2j9zA"
    appOuterLink
    appRipple>
    <app-icon
      class="grey-icon"
      name="discord:black-30"></app-icon>
  </a>
</div>
