/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css2?family=Gothic+A1:wght@100;200;300;400;500;600;700;800;900&family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "preset";
@import "mixins";
@import "props";
@import "flat-button";
@import "input";
@import "ripple";
@import "theme";
@import "markdown";
@import "prism";

* {
  transition: background-color .15s, fill .15s;
  -webkit-tap-highlight-color: transparent;
}

body {
  &.theme-light {
    background-color: $white;
    color: $night-rider;
  }

  &.theme-dark {
    background-color: $night-rider;
    color: $white;
  }
}

img {
  display: block;
}

